@import "../../global/colors";

.header-component {
  height: 60px;
  flex: 0 0 60px;
  background: white;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;
  border-bottom: solid 1px $pale-grey;

  .user-logo {
    height: 27px;
    width: 27px;
    min-width: 27px;
    border-radius: 100%;
    background: #78e1d2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-size: 12px;
    font-size: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: .15s;
    text-decoration: none;

    .not-desktop & {
      height: 30px;
      width: 30px;
      min-width: 30px;
    }

    &:hover, &:focus {
      background-color: adjust-color(#78e1d2, $saturation: 10, $lightness: 5);
    }

    &:active {
      background-color: adjust-color(#78e1d2, $saturation: 20, $lightness: 10);
    }
  }

  .user-hello {
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    color: $battleship-grey;

    .not-desktop & {
      font-size: 13px;
    }

    a {
      text-decoration: none;
    }
  }

  .suppl-logo {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $azure;
    position: absolute;
    left: 50%;
    //align-self: center;
    //margin: auto;
    margin-left: -100px;
    width: 200px;

    //margin-top: 17px;
    bottom: 18px;
  }

  .header-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    .menu-item {
      font-size: 16px;
      text-align: center;
      color: $dark;
      margin-left: 5px;
      display: flex;
      flex-direction: row;
      position: relative;
      cursor: pointer;
      transition: .15s;

      i {
        color: $battleship-grey;
        font-size: 20px;
        margin: auto 5px;

        .not-desktop & {
          font-size: 14px;
          margin: auto 2px;
        }
      }

      .icon-chevron-down {
        font-size: 10px;
        .not-desktop & {
          font-size: 7px;

        }
      }

      &:hover {
        color: $azure;
      }
    }
  }

  .not-desktop & {
    height: 60px;
    flex: 0 0 60px;
    padding: 0 20px;
    //box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);

    .suppl-logo {
      margin-top: 10px;
    }
  }
}

.header-mobile-component {

}

