@import "../../global/colors";

.header-component {
  height: 70px;
  flex: 0 0 70px;
  background: white;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;

  .user-logo {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 100%;
    background: #78e1d2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-size: 12px;
    font-size: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: .15s;
    text-decoration: none;

    &:hover, &:focus {
      background-color: adjust-color(#78e1d2, $saturation: 10, $lightness: 5);
    }

    &:active {
      background-color: adjust-color(#78e1d2, $saturation: 20, $lightness: 10);
    }
  }

  .user-hello {
    font-size: 13px;
    font-weight: 600;
    color: $dark;
    margin-left: 15px;
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }

  .suppl-logo {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $azure;
    position: absolute;
    left: 50%;
    //align-self: center;
    //margin: auto;
    margin-left: -100px;
    width: 200px;
  }

  .header-menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    .menu-item {
      font-size: 16px;
      text-align: center;
      color: $dark;
      margin-left: 5px;
      display: flex;
      flex-direction: row;
      position: relative;
      cursor: pointer;
      transition: .15s;

      i {
        font-size: 20px;
        margin: auto 5px;
      }

      .icon-chevron-down {
        font-size: 10px;
      }

      &:hover {
        color: $azure;
      }
    }
  }
}

