@import "../../global/colors";

.footer-component {
  position: fixed;
  z-index: 1998;

  height: 60px;
  background-color: $pale-grey-six;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);

  .footer-link {
    height: 60px;
    box-shadow: 0 0px 0px 0 $black-20;
    flex: 1 1 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    flex-direction: column;

    color: $battleship-grey;
    text-decoration: none;

    .link-icon {
      font-size: 19px;
      font-weight: normal;
      line-height: 1;
    }

    .link-text {
      margin-top: 5px;
    }

    &.active {
      background-color: $white;
      color: $azure;
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.05);
      margin-top: -5px;
      border-radius: 4px 4px 0 0;
      height: 65px;
      padding-top: 5px;
    }
  }
}

