@import "../../global/colors";

.sidebar-component {
  background: $dark;
  background: $pale-grey-six;
  background: $pale-grey-five;
  flex: 0 0 60px;
  display: flex;
  flex-direction: column;
  color: $battleship-grey;
  border-right: solid 1px #f3f3f3;

  .top-menu, .bottom-menu {
    display: flex;
    flex-direction: column;
    margin: 0 0px auto;

    .menu-label {
      margin-left: 15px;
      margin-top: 20px;
      font-size: 8px;
      font-weight: 600;
      text-align: left;
      //color: $pinkish-grey;
      color: $battleship-grey;
      text-transform: uppercase;
      margin-bottom: -5px;
    }

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin: 10px auto 0;
      cursor: pointer;
      transition: .15s;
      text-decoration: none;
      //padding: 0 10px;

      font-size: 13px;
      color: $battleship-grey;
      flex-direction: row;
      border-radius: 3px;
      transition: .15s;


      width: 40px;
      height: 40px;
      border-radius: 3px;

      //border-left: 5px solid transparent;

      i {
        font-size: 17px;
        //margin-right: 10px;
        font-weight: normal;
        color: $warm-grey-two;
        transition: .15s;
      }

      span {
        font-size: 13px;
        font-weight: 600;
      }

      &.active {
        //background-color: $white;
        //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        color: $tealish;
        background-color: #ebf0f5;


        i {
          color: $tealish;
        }
      }

      &:hover {
        //transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .bottom-menu {
    margin: auto;
    margin-bottom: 15px;
  }

}
