@import "../../global/colors";

.sidebar-component {
  background: $dark;
  flex: 0 0 146px;
  display: flex;
  flex-direction: column;

  .top-menu, .bottom-menu {
    display: flex;
    flex-direction: column;
    margin: 0 15px auto;

    .menu-item {
      display: flex;
      align-items: center;
      //justify-content: center;
      //text-align: center;
      flex-direction: column;
      height: 30px;
      //width: 50px;
      //padding: 15px;
      color: white;
      //margin: auto;
      margin-top: 15px;
      cursor: pointer;
      transition: .15s;
      border-radius: 100%;
      font-size: 30px;
      text-decoration: none;
      text-align: left;
      //padding: 0 10px;

      font-size: 13px;
      color: $white;
      flex-direction: row;

      i {
        font-size: 21px;
        margin-right: 10px;
      }

      span {
        font-size: 13px;
        //text-transform: uppercase;
        font-weight: normal;
        //margin-top: 5px;
      }

      &:hover {
        //background: $dark-indigo;
        color: $wheat;

      }
    }
  }

  .bottom-menu {
    margin: auto;
    margin-bottom: 15px;
  }

}
