@import "../../global/colors";

.sidebar-component {
  background: $dark;
  background: $pale-grey-six;
  flex: 0 0 146px;
  display: flex;
  flex-direction: column;
  color: $battleship-grey;

  .top-menu, .bottom-menu {
    display: flex;
    flex-direction: column;
    margin: 0 0px auto;

    .menu-label {
      margin-left: 15px;
      margin-top: 20px;
      font-size: 8px;
      font-weight: 600;
      text-align: left;
      //color: $pinkish-grey;
      color: $battleship-grey;
      text-transform: uppercase;
      margin-bottom: -5px;
    }

    .menu-item {
      display: flex;
      align-items: center;
      height: 20px;
      margin-top: 15px;
      padding-left: 10px;
      cursor: pointer;
      transition: .15s;
      text-decoration: none;
      text-align: left;

      font-size: 13px;
      color: $battleship-grey;
      flex-direction: row;

      border-left: 5px solid transparent;

      i {
        font-size: 18px;
        margin-right: 10px;
        font-weight: normal;
        color: $warm-grey-two;
      }

      span {
        font-size: 13px;
        font-weight: 600;
      }

      &:hover {
        //background: $dark-indigo;
        color: $azure;
        border-left: 5px solid $azure;

      }
    }
  }

  .bottom-menu {
    margin: auto;
    margin-bottom: 15px;
  }

}
