@import "../../global/colors";

@keyframes background-scroll {
  0% {;
    background-position-y: 0px;
  }
  100% {;
    background-position-y: -60000px;
  }
}

.player-component {
  z-index: 2000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: white;

  display: flex;
  flex-direction: column;

  transition: .4s;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.3);

  &.active {
    opacity: 1;
    visibility: visible;

    transform: scale(1);
  }

  .player-header {
    flex: 0 0 60px;
    //height: 41px;
    //border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-back {
      flex: 0 auto;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }

    .header-name {
      text-align: center;
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin: auto;

    }

    .header-icon {
      font-size: 24px;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
    }
  }

  .player-content {
    flex: 1 0 0px;
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .player-info {
      flex: 1 0 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }

    .player-button {

      border-radius: 200px;
      width: 200px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.42);
      margin-bottom: -100px;
      position: relative;
      z-index: 10;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .button-inside {
        height: 180px;
        width: 180px;
        border-radius: 200px;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: $pinkish-grey;

        font-size: 140px;
      }
    }

    .player-bar {
      position: relative;
      width: 100%;
      height: 280px;
      //opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.03);
      z-index: 5;
    }

    .player-session {

      font-size: 18px;
      text-align: center;
      color: $white;
    }

    .player-length {
      font-size: 18px;
      text-align: center;
      color: #f3f3f3;
      margin-top: 20px;
    }

  }

}