@import "../../global/colors";

.sub-header-component {
  //background: $pale-grey;
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 70px;
  min-height: 70px;
  //background-color: #ffffff;
  //box-shadow: 0 2px 4px 0 $black-20;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 10;
  //margin-left: 20px;
  //margin-right: 20px;

  .sub-heading {
    font-size: 18px;
    font-weight: 600;
    color: $dark;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .small-sub-heading {
      font-size: 12px;
      color: $dark;
      margin-left: 15px;
      font-weight: normal;
    }
  }

  .user-count {
    display: flex;
    width: 100px;
    height: 35px;
    border-radius: 3px;
    background-color: $pale-grey-two;

    font-size: 13px;
    text-align: left;
    color: $dark;
    font-weight: normal;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: auto;

    i {
      margin-right: auto;
      font-size: 17px;
    }
  }
}
