@import "../../global/colors";

.activity-item {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #f3f3f3;

  font-size: 15px;
  color: #73839a;
  font-weight: 400;

  .activity-header {
    height: 10px;
    background-color: $azure;
    display: flex;
    flex-direction: row;
    position: relative;

    .header-overlay {
      background-color: rgba(255, 255, 255, 0.4);
      margin-left: auto;
      width: 75%;
    }
  }

  .activity-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .activity-icon {
    width: 35px;
    height: 35px;
    flex: 0 0 35px;
    background-color: $pale-grey-two;
    border-radius: 100px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/statics/svg/avatar/g-avatar.png');
    cursor: pointer;
  }

  .activity-user {
    margin-top: 10px;
  }

  .activity-text {
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    color: #73839a;

    .activity-strong {
      font-size: 15px;
      font-weight: 400;
    }
  }

  .activity-dash {
    height: 1px;
    background: $pinkish-grey;
    margin-top: 15px;
    width: 22px;
  }

  .activity-time {
    margin-top: 15px;
    font-size: 10px;
    color: #b4becd;
  }

  .activity-extra {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #4f617b;

    vertical-align: middle;

    > div {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    img {
      height: 40px;
      margin-right: 10px;
    }

  }
}

.activity-panel {
  margin: 20px 30px 0;
  //break-inside: avoid;
  //padding-top: 10px;
  //padding-bottom: 10px

  flex: 1 0 300px;

  .not-desktop & {
    margin: 20px 20px 0;
  }
}

.activity-holder {
  margin: 0 -30px;
  //column-count: 3;
  //column-gap: 60px;
  //margin-top: 10px;

  .not-desktop & {
    //column-count: 1;
    margin: 0 -20px;
  }

}

.bricklayer {
  margin: 0 -30px;
}

.bricklayer-column {
  padding: 0;
}