@import "colors";

.bump-register {
  background-color: #f7fafc;

  background-image: url('/statics/svg/bump/position-backdrop.svg');
  background-size: cover;
  background-position: calc(50% + 33px) 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  //margin-right: -47px;
}

.bump-info {
  display: flex;
  flex: 0 0 350px;
  flex-direction: column;
  width: 100%;

  align-self: center;
  align-items: center;
  //justify-content: center;
  text-align: center;

  color: $dark;
  line-height: 1.5;
  //position: relative;
  z-index: 1;
  margin-top: 260px;

  //height: 420px;

  .bump-18 {
    font-size: 18px;
    color: $dark;
    margin-top: 5px;
  }

  .bump-number {
    font-size: 40px;
    font-weight: 600;
    //margin-top: 5px;
    margin-top: 30px;
    color: $dark;
  }

  .bump-line {
    height: 1px;
    background: $pinkish-grey;
    margin-top: 30px;
    width: 430px;
  }

  .bump-text {
    margin-top: 20px;
    width: 300px;
    //height: 40px;
    font-size: 15px;
    text-align: center;
    color: $dark;
  }

  .bump-code {
    width: 390px;
    height: 109px;
    background: none;
    background-image: url('/statics/svg/waitlist/golden-ticket.svg');
    background-bump: center;
    background-repeat: no-repeat;

    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 15px;
    font-weight: 600;
    color: #967b26;
    margin-top: 30px;
  }

  .bump-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px $azure;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $azure;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    user-select: none;
    margin-top: 30px;
    text-decoration: none;

    i {
      margin-right: 10px;
      font-size: 18px;
    }

  }
}