$pale-grey: #e7ebee;
$pale-grey-two: #eff2f9;
$pale-grey-three: #eff5f9;
$pale-grey-four: #edf5f8;
$white: #fff;
$white-two: #d9d9d9;
$azure: #00a2f2;
$dark: #263345;
$black-20: rgba(0, 0, 0, 0.2);
$dark-indigo: #08182f;
$greyish-brown: #08182f;
$pinkish-grey: #cccccc;
$warm-grey: #979797;
$warm-grey-2: #999999;
$black--12: rgba(0, 0, 0, 0.12);
$rosa: #ff939f;
$tealish: #2ccfa9;
$brownish-grey: #666666;
$flat-blue: #346ba9;
$light-blue-grey: #a5cbea;