@import "colors";

.dashboard-stats {
  border-bottom: solid 1px $white;
  display: flex;
  flex-direction: row;
  color: $pinkish-grey;
  padding: 20px 0;

  .dashboard-stat {
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1;

    .stat-icon {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 35px;
      opacity: 0.3;
    }

    .stat-value {
      font-size: 28px;
      font-weight: 600;
    }

    .stat-text {
      font-size: 13px;
      font-weight: 300;
      color: $brownish-grey;
      margin-top: 5px;
    }

    &[data-active='true'] {
      color: $dark;
      .stat-icon {
      }

      .stat-value {
      }

      .stat-text {
        color: $dark;
      }
    }
  }
}

.dashboard-banner {
  //width: 802px;
  height: 240px;
  border-radius: 4px;
  background-color: #95d1ff;
  background-image: url('/statics/svg/patterns/wiggle.svg');
  background-position: top left;
  background-size: 400px;
  margin-top: 10px;
  margin-bottom: 10px;

  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  text-align: center;
  transition: 10000000000000s;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    color: white;
  }

  &:hover {
    cursor: pointer;
    //background-size: 350px;
    transition: 1000s linear;
    background-position-y: -60000px;

    .not-desktop & {
      transition: 0s linear;
      background-position-y: 0px;
    }
  }

  &:active {
    cursor: pointer;
    //background-size: 350px;
    transition-duration: 1000s;
    background-position-y: -800000px;

    .not-desktop & {
      transition: 0s linear;
      background-position-y: 0px;
    }
  }

  .banner-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .banner-session {
    margin-top: 5px;
  }

  .banner-play {
    background: white;
    flex: 0 0 36px;
    height: 36px;
    width: 36px;
    border-radius: 100px;
    color: $azure;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

    i {
      line-height: inherit;
      font-size: 15px;
      text-align: center;
      margin: 0;
      margin-left: 3px;
      text-shadow: none;
    }
  }
}

.banner-butn {
  width: 124px;
  height: 45px;
  border-radius: 100px;
  background-color: white;
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $azure;
  margin-top: 25px;
  //text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);

  &.flush {
    margin: 0;
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;

  }
}

.dashboard-banner-large {
  height: 320px;
  border-radius: 0px;
  padding-left: 100px;
  padding-top: 60px;
  margin: 0 -30px 0px;
  font-size: 18px;
  text-align: left;

  justify-content: flex-start;
  align-items: flex-start;

  .not-desktop & {
    margin: 0 -20px 0px;
    padding-left: 20px;
  }

  .banner-title {
    font-size: 42px;
    font-weight: bold;
    text-transform: none;
  }
}

.dashboard-banner-mid {
  @extend .dashboard-banner;

  background-color: #a2e4eb;
  height: 220px;
  margin: 30px 0px 0;
  display: block;

  flex-direction: row;
  padding: 25px 20px;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;

  i {
    font-size: 55px;
    margin-right: 20px;
    /* transform: scaleX(0.8); */
    //text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  }

  .banner-title {
    text-transform: none;

    font-size: 30px;
    text-align: left;
  }

  .not-desktop & {
    margin: 20px 0px 0;
  }
}

.dashboard-banner-low {
  @extend .dashboard-banner-mid;

  background-color: #ffc3ca;
  height: 80px;

  i {
    font-size: 25px;
    margin-right: 20px;
  }

  .banner-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
  }
}

.dashboard-note {
  height: 120px;
  background-color: $white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $warm-grey-two;
  color: #4f617b;
  font-size: 13px;
  position: relative;

  &:before {
    content: '';
    border-top: solid 10px white;
    border-left: solid 10px white;
    border-right: solid 10px transparent;
    border-bottom: solid 10px transparent;

    position: absolute;
    top: -10px;
    transform: rotate(45deg);
  }

  .note-text {
    max-width: 350px;
  }

  .note-line {
    border-top: solid 1px $pinkish-grey;
    margin: 10px 0;
    width: 70px;
  }

  .note-action {
    color: $azure;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
}

.dashboard-large-stat {
  height: 180.7px;
  //border-radius: 4px;
  background-color: #95abcb;
  margin: 0 -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-direction: row;
  padding: 0 30%;
  background-image: url('/statics/svg/patterns/streak.svg');
  background-position: top left;
  background-size: 400px;

  .stat-content {
    .content-top {
      font-size: 40px;
      font-weight: bold;
      color: $white;
    }

    .content-bottom {
      font-size: 18px;
      font-weight: 600;
      color: $white;
    }
  }

  .stat-icon {

  }

  .not-desktop & {
    flex-direction: column;
    padding: 0;
    text-align: center;
    justify-content: center;

    .content-top {
      font-size: 32px;
    }

    .content-bottom {
      font-size: 13px;
    }

    .stat-icon {
      img {
        height: 45px;
        margin-bottom: 10px;
      }

    }
  }
}

.dashboard-invite {
  height: 350px;

  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0 -30px;

  .not-desktop & {
    margin: 0 -20px;
  }

  .invite-flex {
    display: flex;
    height: 350px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .invite-icons {
    position: absolute;
    height: 350px;
    width: 100%;

    .invite-icon {
      position: absolute;
      left: 50%;
    }
  }
}