.suppl-form {
  margin-top: -20px;

}

.suppl-label {
  font-size: 12px;
  font-weight: 600;
  //text-align: center;
  color: $greyish-brown;
  margin-top: 20px;
  text-transform: uppercase;
}

.suppl-multi {
  height: 60px;
  margin-top: 7px;
  border-radius: 2px;
  background-color: $white;
  box-shadow: 0 2px 3px 0 $black--12;
  //border: solid 1px $pinkish-grey-two;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  font-weight: normal;
  user-focus: none;
  user-select: none;

  .multi-item {
    flex: 1 0 0;
    font-size: 18px;
    color: $greyish-brown;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin: -1px;
    cursor: pointer;

    border: 1px solid $pinkish-grey-two;
    //border-right: 1px solid $pinkish-grey-two;

    transition: .15s;

    border-left: none;

    &:hover {
      background-color: rgba(0,0,0,0.05);
    }

    &:first-child {
      border-left: 1px solid $pinkish-grey-two;
    }

    &:last-child {
      border-right: 1px solid $pinkish-grey-two;
    }

    &.active {
      background-color: $dark;
      //border: solid 1px $pinkish-grey-two;
      color: $white;
      border: 1px solid $dark;
    }
  }
}

.suppl-input {
  margin-top: 7px;
  height: 40px;
  line-height: 38px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #c4c4c3;
  min-width: 188px;

  display: flex;
  flex-direction: row;
  transition: .15s;
  font-weight: normal;

  &.focus {
    border: solid 1px $azure;
  }

  .input-icon {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
  }

  input {
    height: 38px;
    line-height: 38px;
    display: flex;
    flex: 1 1 188px;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0 7px;

    &::-placeholder-shown {
      color: $pinkish-grey;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $pinkish-grey;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $pinkish-grey;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $pinkish-grey;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $pinkish-grey;
    }
  }

  &.large {
    height: 60px;
    line-height: 58px;
    font-size: 17px;

    .input-icon {
      height: 58px;
      width: 58px;
    }

    input {
      height: 58px;
      line-height: 58px;
    }

    .not-desktop & {
      height: 50px;
      line-height: 48px;
      font-size: 14px;

      .input-icon {
        height: 48px;
        width: 48px;
      }

      input {
        height: 48px;
        line-height: 48px;
      }
    }
  }
}

.suppl-dropdown {
  position: absolute;
  margin-top: 30px;
  right: 0;
  //margin-left: -150px;
  user-focus: none;
  user-select: none;

  width: 150px;
  //height: 91px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 $black-20;
  border: solid 1px $white-two;

  opacity: 0;
  visibility: hidden;
  transition: .15s;

  &.active {
    opacity: 1;
    visibility: visible;
  }


  .dropdown-item {
    border-bottom: solid 1px $white-two;
    background-color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    line-height: 2.5;
    color: $greyish-brown;
    height: 30px;

    display: flex;
    flex-direction: row;
    transition: .15s;
    cursor: pointer;
    text-decoration: none;

    .item-icon {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      //color: #cccccc;
    }

    .item-text {
      //padding-left: 7px;
      display: flex;
      align-items: center;
      //justify-content: center;
    }

    &:last-child {
      border: none;
    }

    &:hover, &.active {
      background-color: $azure;
      color: white;
    }

  }

}