@import "colors";

.block {
  background-color: #fff;
  padding: 0 40px 40px;
  margin: 0 -40px;

  background-repeat: no-repeat;
  background-size: 250px;
  background-position: right 40px top;

  .not-desktop & {
    padding: 0 20px 20px;
    margin: 0 -20px;
    background-size: 100px;
    background-position: right 20px top;
  }

  &.light {
    background-color: #fafcff;
  }
}

.thin-heading {
  font-size: 32px;
  font-weight: 300;
  color: $battleship-grey;
  margin-top: 40px;
  line-height: 1.2;

  .not-desktop & {
    font-size: 22px;
    margin-top: 20px;
  }
}

.thin-heading-2 {
  font-size: 32px;
  font-weight: 300;
  color: $battleship-grey;
  margin-top: 40px;
  line-height: 1;
  font-size: 22px;
  font-weight: 300;

  .not-desktop & {
    //margin-top: 20px;

    font-size: 15px;
    font-weight: 300;
  }
}

.thin-subheading {
  font-weight: 400;
  line-height: 1;
  font-size: 15px;
  color: #8c9bb1;
  margin-top: 5px;

  .not-desktop & {
    font-size: 12px;
    font-weight: 400;
  }
}

.invite-title {
  font-size: 42px;
  text-align: left;
  color: $battleship-grey;
}

.invite-text {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 13px;
  color: #73839a;
}

.realign-content {
  display: flex;
  flex-direction: row;
  //justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  line-height: 1;
  //height: 60px;

  .realign-number {
    font-size: 28px;
    font-weight: normal;
    color: #1fb7c7;

    .not-desktop & {
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .realign-text {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    color: $battleship-grey;
  }

}

.suppl-stat {
  height: 120px;
  border-radius: 4px;
  border: solid 1px $pale-grey-two;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: $battleship-grey;
  font-weight: 300;
  margin-top: 40px;

  .not-desktop & {
    margin-top: 20px;
  }

  .stat-img {
    height: 60px;
    margin-right: 25px;
    margin-top: 5px;
  }

  .stat-stat {
    font-size: 42px;
    font-weight: normal;

    .stat-small {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .stat-text {
    font-weight: 400;
    font-size: 13px;
    color: #b4bdcc;
    margin-top: 5px;
  }
}

.neat-banner {
  height: 215px;
  border-radius: 4px;
  background-color: #f0f8ff;
  border: solid 1px $pale-grey-two;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  line-height: 1;

  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url('/statics/svg/dashboard/NEAT.svg');

  .not-desktop & {
    height: 120px;
    padding-left: 20px;
  }

  .neat-score {
    font-size: 50px;
    color: $battleship-grey;

    .not-desktop & {
      font-size: 30px;
    }
  }

  .neat-text {
    font-size: 18px;
    margin-top: 10px;
    color: #b4bdcc;

    .not-desktop & {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}

.journey-items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .journey-item {
    position: relative;
    border-left: solid 1px $pale-grey;

    &:before {
      content: "";
      position: absolute;
      top: -9px;
      left: -9px;
      width: 18px;
      height: 18px;
      border: 3px solid white;
      border-radius: 100px;
      background-color: $pale-grey;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: -9px;
      width: 18px;
      height: 18px;
      border: 3px solid white;
      border-radius: 100px;
      background-color: $pale-grey;
    }

    .journey-box {
      height: 60px;
      border-radius: 4px;
      background-color: $white;
      border: solid 1px #f3f3f3;

      display: flex;
      flex-direction: row;

      font-size: 18px;
      color: #73839a;
      padding: 0 20px;
      margin: 15px 20px;
      align-items: center;
      font-weight: 300;
      line-height: 1.2;

      .not-desktop & {
        margin-right: 0;
        font-size: 15px;
      }

      .box-logo {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        background-color: #a2e4eb;
        margin-right: 10px;
      }

      .box-title {
        margin-right: 5px;
        font-weight: normal;
      }

      .box-time {
        margin-left: auto;
        font-size: 13px;
        font-weight: 600;
        color: $pinkish-grey;
      }
    }
  }
}

.suppl-table {
  width: 100%;
  margin-top: 20px;
  font-weight: 400;

  table {
    width: 100%;
  }

  thead {
    tr {
      height: 40px;
      background-color: $pale-grey-five;
      text-transform: uppercase;

      font-size: 10px;
      font-weight: 600;
      text-align: left;
      color: $pinkish-grey;
      padding: 0 13px;
      vertical-align: middle;

      .not-desktop & {
        font-size: 8px;
        padding: 0 8px;
      }
    }
  }

  tbody {
    td {
      //font-weight: 600;
      padding: 0 13px;
      vertical-align: middle;
      font-size: 15px;
      color: $battleship-grey;

      height: 60px;
      background-color: $white;
      border: solid 1px $pale-grey;

      .not-desktop & {
        font-size: 10px;
        padding: 0 8px;
        height: 40px;
      }
    }
  }

  .tr-first {
    width: 70px;
    text-align: center;
    font-size: 15px;
    color: $pinkish-grey;

    .not-desktop & {
      width: 45px;
      font-size: 10px;
    }
  }

  .tr-small {
    width: 70px;
    text-align: center;

    .not-desktop & {
      width: 45px;
    }
  }

}

.profile-avatars {
  margin-right: 20px;
  margin-top: 40px;
  position: relative;

  .not-desktop & {
    margin-top: 20px;
  }

  .main-avatar {
    height: 60px;
    width: 60px;
    background-color: #eff2f9;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    //background-image: url('/statics/svg/avatar/g-avatar.png');
    cursor: pointer;
    border-radius:100px;
  }

  .other-avatars {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    visibility: hidden;
    opacity: 0;
    transition: .15s;
    z-index: 10;

    .other-avatar {
      margin-top: -30px;
      height: 50px;
      width: 50px;
      background-color: #eff2f9;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      //background-image: url('/statics/svg/avatar/g-avatar.png');
      cursor: pointer;
      transition: .3s;
      border-radius:100px;
    }

    &.active {
      visibility: visible;
      opacity: 1;

      .other-avatar {
        margin-top: 10px;
      }
    }
  }

}

.suppl-panel {

  .panel-header {
    height: 60px;
    border-radius: 4px 4px 0 0;
    background-color: $pale-grey-five;
    padding: 10px;
  }

  .panel-content {
    padding: 20px;
    border-radius: 0 0 4px 4px;
    border: solid 1px $pale-grey-two;
  }

}

