@import "colors";

@keyframes background-scroll {
  0% {;
    background-position-y: 0px;
  }
  100% {;
    background-position-y: -60000px;
  }
}

.session-header {
  background-position: top left;
  background-size: 600px;

  display: flex;
  flex-direction: column;
  color: white;
  line-height: 1;
  position: relative;
  z-index: 0;

  animation-name: background-scroll;
  animation-duration: 2000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  padding-left: 40px;
  padding-top: 60px;
  text-align: left;

  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 -40px 0;
  border-radius: 0;
  min-height: 325px;
  font-size: 22px;

  .not-desktop & {
    min-height: 237px;
    padding-left: 20px;
    padding-top: 40px;
    //margin-top: 20px;
    margin: 0 -20px 0;
    //animation: none;
  }

  &.mini {
    min-height: 190px;
    margin-top: 45px;
  }

  &:hover {
    //cursor: pointer;
    //background-size: 350px;
    //transition: 1000s linear;
    //background-position-y: -60000px;
  }

  .session-title {
    //text-align: center;
    color: $white;
    //text-transform: uppercase;
    line-height: 1.2;
    font-size: 64px;
    //text-align: left;
    margin-top: 15px;

    .not-desktop & {
      font-size: 48px;
    }
  }

  .session-text {
    margin-top: 5px;
    line-height: 1.4;
    font-size: 15px;
    max-width: 500px;
    font-size: 22px;

    .not-desktop & {
      font-size: 13px;
      max-width: 280px;
      margin-top: 15px;
    }
  }

  .session-time {
    margin-top: 0px;
    line-height: 1;
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    color: $white;

    .not-desktop & {
      font-size: 13px;
    }
  }
}

.session-audios {
  //border-radius: 0 0 4px 4px;
  //background-color: $white;
  border: solid 1px $pale-grey;
  margin: 0 -40px 0;

  display: flex;
  flex-direction: column;

  .session-audio {
    height: 80px;
    border-radius: 4px;
    background-color: $white;
    border-top: solid 1px $pale-grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    align-items: center;

    .audio-check {
      width: 40px;
      height: 40px;
      border: solid 1px $pale-grey;
      color: #ddd;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-weight: bold;
        //display: none;
      }
    }

    .audio-title {
      font-size: 18px;
      font-weight: 600;
      color: $battleship-grey;
      margin-left: 20px;

      .not-desktop & {
        font-size: 15px;
      }
    }

    .audio-play {
      //margin: 0 auto;
      //background: $azure;
      //color: white;
      //text-shadow: 0 2px 4px $black--12;

      border: solid 1px $pale-grey;
      color: #ddd;
      border-radius: 100px;

      font-size: 16px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-left: 2px;
      }

      .not-desktop & {
        font-size: 18px;
        height: 40px;
        width: 40px;

      }
    }

    .audio-time {
      font-size: 15px;
      text-align: center;
      color: $warm-grey-two;


      .not-desktop & {
        font-size: 13px;
      }
    }

    &:first-child {
      border: none;
    }

    &[data-inactive="true"] {
      opacity: 0.4;

      .audio-play {
        pointer-events: none;
      }
    }
  }
}

.session-header-extra {
  height: 70px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: $brownish-grey;
  position: relative;

  .top-label {
    position: absolute;
    top: -15px;

    width: 100px;
    height: 30px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 $black-20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    text-align: center;
    color: $dark;
    text-transform: uppercase;
  }
}

.session-list, .flex-table {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .hori {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .col {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
    padding: 10px;

    &.col-70 {
      flex: 0 0 70px;
      text-align: center;
      justify-content: center;
    }

    &.col-100 {
      flex: 0 0 140px;
      text-align: center;
      justify-content: center;
    }
  }

  .list-header {
    height: 40px;
    background-color: $pale-grey-two;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    color: $brownish-grey;
    text-transform: uppercase;

  }

  .list-row {
    background-color: $white;
    border: solid 1px #f3f3f3;
    height: 80px;
    margin-top: -1px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: $dark;

    &[data-inactive="false"] {
      background: rgba(255, 255, 255, 0.5);

      .session-number {
        color: transparentize($dark, 0.9);
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .session-number {
    width: 25px;
    height: 25px;
    background-color: $pale-grey;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      width: 2px;
      border: solid 2px $pale-grey;
      position: absolute;

      height: 80px;
      z-index: -1;
      top: 5px;
    }

    &[data-last="true"] {
      &:before {
        display: none;
      }
    }
  }

  .session-info {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    text-align: left;

    .info-top {
      font-size: 13px;
      color: $azure;
    }

    .info-bottom {
      font-size: 10px;
      color: $warm-grey-two;
    }

  }

  .next-session {
    //width: 68px;
    height: 20px;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #f8bb2a;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }

  .play-button {
    width: 43px;
    height: 43px;
    background-color: $azure;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

    i {
      color: white;
      font-size: 17px;
      padding-left: 4px;
    }
  }

  .lock-button {
    width: 43px;
    height: 43px;
    background-color: $pinkish-grey;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

    i {
      color: white;
      font-size: 20px;
      //padding-left: 4px;
    }
  }

}

.flex-table {
  margin-top: 10px;

  .hori {
    border: none;
    &:nth-child(2n + 3) {
      background-color: #fbfbfb;
    }
  }
}

