@import "colors";

.session-header {
  min-height: 233px;
  //background-color: white;
  background-position: top left;
  background-size: 250px;

  display: flex;
  flex-direction: column;
  //margin: 35px;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  line-height: 1;
  position: relative;
  z-index: 0;
  transition: 10000000000000s;

  &.mini {
    min-height: 190px;
    margin-top: 45px;
  }

  &:hover {
    //cursor: pointer;
    //background-size: 350px;
    transition: 1000s linear;
    background-position-y: -60000px;
  }

  .header-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.1;
    background-color: $dark;
    z-index: -1;
  }

  .session-title {
    font-size: 20px;
    font-weight: 600;
    color: $white;
    //text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }

  .session-description {
    font-size: 13px;
    font-weight: 600;
    color: $white;
    line-height: 1.6;
    margin-top: 10px;
    max-width: 320px;
  }

  .session-stats {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin-top: 25px;

    .stats-stat {
      display: flex;
      flex-direction: column;
      width: 100px;
    }

    .stat-number {
      font-size: 24px;
      font-weight: 300;
      text-align: center;
      color: $white;
    }

    .stat-label {
      font-size: 11px;
      text-align: center;
      color: $white;
      margin-top: 3px;
    }
  }
}

.session-header-extra {
  height: 70px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: $brownish-grey;
  position: relative;

  .top-label {
    position: absolute;
    top: -15px;

    width: 100px;
    height: 30px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 $black-20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    text-align: center;
    color: $dark;
    text-transform: uppercase;
  }
}

.session-list, .flex-table {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .hori {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .col {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
    padding: 10px;

    &.col-70 {
      flex: 0 0 70px;
      text-align: center;
      justify-content: center;

    }
  }

  .list-header {
    height: 40px;
    background-color: $pale-grey-two;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    color: $brownish-grey;
    text-transform: uppercase;

  }

  .list-row {
    background-color: $white;
    border: solid 1px #f3f3f3;
    height: 80px;
    margin-top: -1px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: $dark;

    &[data-inactive="false"] {
      background: rgba(255, 255, 255, 0.5);


      .session-number {
        color: transparentize($dark, 0.5);
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .session-number {
    width: 25px;
    height: 25px;
    background-color: $pale-grey;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      width: 2px;
      border: solid 2px $pale-grey;
      position: absolute;

      height: 80px;
      z-index: -1;
      top: 5px;
    }

    &[data-last="true"] {
      &:before {
        display: none;
      }
    }
  }

  .next-session {
    //width: 68px;
    height: 20px;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #f8bb2a;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }

  .play-button {
    width: 43px;
    height: 43px;
    background-color: $azure;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

    i {
      color: white;
      font-size: 17px;
      padding-left: 4px;
    }
  }

  .lock-button {
    width: 43px;
    height: 43px;
    background-color: $pinkish-grey;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

    i {
      color: white;
      font-size: 20px;
      //padding-left: 4px;
    }
  }

}

.flex-table {
  margin-top: 10px;

  .hori {
    border: none;
    &:nth-child(2n + 3) {
      background-color: #fbfbfb;
    }
  }
}

