.stats-streak {
  border-radius: 5px;
  background-color: $azure;
  box-shadow: 0 2px 4px 0 $black-20;
  margin-top: 10px;
  min-height: 175px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .streak-img {
    position: absolute;
    right: 20px;
    height: 190px;
  }

  .streak-number {
    width: 66px;
    height: 66px;
    background-color: #11acf9;
    border: solid 1px #0488c9;
    border-radius: 100px;
    font-size: 34px;
    font-weight: 600;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .streak-header {
    font-size: 16px;
    font-weight: 600;
    color: $white;
    margin-top: 10px;
  }

  .streak-line {
    width: 25px;
    border-top: solid 1px $white;
    margin-top: 10px;
  }

  .streak-text {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: $white;
  }
}

.stats-all {
  margin: 0 -10px;
}

.stats-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.stats-box {
  border-radius: 6px;
  background-color: $white;
  //box-shadow: 0 2px 4px 0 $black-20;
  //border: solid 1px $white;
  margin-top: 10px;

  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  .stats-stat {
    border-top: dashed 1px $pale-grey;
    border-left: dashed 1px $pale-grey;
    margin: -1px 0 0 -1px;
    flex: 1 0 100px;
    padding: 20px;
    flex-direction: row;
    display: flex;
    position: relative;
    min-height: 60px;
    //min-width: 208px;
    //height: 60px;

    &:last-child {
      border-right: none;
    }

    .stat-icon {
      color: $rosa;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      border: solid 1px $pale-grey;
      border-radius: 100px;

      &.light-gold {
        color: $light-gold;
      }

      &.charcoal {
        color: $charcoal;
      }

      &.tealish {
        color: $tealish;
      }

      &.dark {
        color: $dark;
      }
    }

    .session-icon {
      border: none;
      font-size: 24px;
    }

    .stat-number {
      margin-left: 10px;
      line-height: 1;

      font-size: 15px;
      color: $dark;

      span {
        font-size: 8px;
      }
    }

    .stat-desc {
      margin-top: 5px;
      margin-left: 10px;


      font-size: 10px;
      color: $pinkish-grey;
      text-transform: uppercase;
    }
  }
}
